#ALiNix kernel
#This software is licensed under GNU AFFERO GENERAL PUBLIC LICENSE


*.json

####################################
#ignoring the kernel  image, as it is not needed for this test.
*.iso
*.bin
*.o
*.sym
*.config
*.sym
*.a
*.img

####################################

# Lets ignore the dialog interface files 
*.compilation_options
*.tmp